# Build outputs
/build/
/app/build/
*.apk
*.aab
*.apk.idsig

# Gradle
.gradle/
gradle.properties

# IDE
.idea/
*.iml
/app/*.iml

# Local config
local.properties
keystore/
*.keystore
*.jks

# Secrets / Tokens
*.token
secrets.*
credentials.*

# OS
.DS_Store
Thumbs.db

# Agent data (runtime)
agent_memories/
agent_storage/
